.allContainer{

    color: #fff;
}
.back{
    padding: 0.3rem;
    position: absolute;
    top: 0.7rem;
    left: 0.7rem;
    cursor: pointer;
    color: #fff;
    --c:  #3c50eb; /* the color*/
    
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
}
.back:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}
.back:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputGroup{
    position: relative;
}
.inputInput{
    font: inherit;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: 2px solid #fff;
    background-color: transparent;
    transition: outline-color 500ms;
}
.inputInput:is(:focus, :valid){
    outline-color: #3c50eb;
}
.inputLabel{
    position: absolute;
    top: 0;
    left: 0;
    translate: 10px 10px;
    color: #fff;
    transition: translate 500ms,
    scale 500ms;
}
.inputInput:focus +
.inputLabel,
.inputInput:valid+
.inputLabel{
    padding: 5px;
    translate: 10px -14px;
    scale: 0.8;
    background-color: #000;
}

.button {
    color: #fff;
    padding: 0.5rem 5rem;
    cursor: pointer;
    --c:  #3c50eb; /* the color*/
    
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
}
.button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}
.button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
}
.crear{
    color: #3c50eb;
    text-decoration: underline;
    cursor: pointer;
}